{{!
Markup for an individual component in our style guide.
Expects the following data:

id:          A unique identifier for the component. Main use is for creating a
             location on the page we can jump to.
name:        The name of the component.
description: A description of the component.
partial:     The name of the partial we use for rendering the component.
data:        An object containing the data to be passed to the partial for the
             component being displayed.
}}

<div id="{{id}}" class="clComponentBlock">
	<div class="clComponentHeader">
		<h2 class="clComponentName">{{name}}</h2>
		<a href="#{{id}}_clCode" class="clComponentShowCode">Show code</a>
	</div>

	{{! Output the mark-up for the component within a code block }}
	<pre id="{{id}}_clCode" class="clComponentCode clHideCode">
	{{#codeBlock this}}
		{{{dynamicPartial partial data}}}
	{{/codeBlock}}
	</pre>

	<div class="clComponentDescription">
		{{! This description should contain the mark-up needed for styling, hence
		    why we don't have it wrapped inside a <p> tag.
		}}
		{{{description}}}
	</div>

	{{! Output the partial for the component }}
	{{{dynamicPartial partial data}}}
</div>
